* {
  box-sizing: border-box;
}

/*Setting variables*/
:root {
  --navy: rgb(4, 4, 94);
  --sky: rgba(59, 197, 244, 1);
  --pic-border: solid 4px var(--sky);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  background-color: var(--navy);
}

.navbar-brand {
  width: 30%;
  color: var(--navy);
  background-color: var(--sky);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 10px;
  font-size: 270%;
  font-weight: 600;
  text-align: right;
}

.navMenu {
  text-decoration-line: none;
  color: var(--sky);
  padding: 5px 5px;
  border: 5px;
  border-bottom-style: solid;
  border-color: var(--sky);
  margin: 5px;
  font-size: 140%;
}

nav a:hover {
  background-color: var(--sky);
}

.banner {
  background-image: url("../images/cod-symb.png");
  background-repeat: repeat-x repeat-y;
  background-position: top;
  background-blend-mode: normal;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.banner-txt {
  color: var(--navy);
  font-weight: 400;
  background-color: var(--sky);
  padding: 10px;
  margin: 0 50px 0 10px;
}

.avatar {
  height: auto;
  max-width: 30%;
}

#work,
#aboutme,
#contactme,
#skills {
  text-align: right;
  padding: 10px;
  border-right: solid 5px;
  margin: 10px;
  font-size: 200%;
}

#work {
  height: 98%;
}

.work-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.flex-item {
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 4px);
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin-top: 8px;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
  width: 50%;
}

/*First item in portfolio bigger size*/
.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  opacity: 0.7;
}

#cheatsheet {
  background-image: url("../images/css-cheatsheet.png");
  border: var(--pic-border);
  background-size: cover;
}

#furn-shop {
  background-image: url("../images/furn-shop.png");
  border: var(--pic-border);
  background-size: cover;
}

#led-wall {
  background-image: url("../images/02-portfolio-1.jpg");
  border: var(--pic-border);
  background-size: cover;
}

#calculator {
  background-image: url("../images/02-portfolio-2.jpg");
  border: var(--pic-border);
  background-size: cover;
}

#run-buddy {
  background-image: url("../images/02-run-buddy.jpg");
  border: var(--pic-border);
  background-size: cover;
}



.heading {
  bottom: 10px;
  background-color: var(--sky);
  line-height: 1;
  padding: 10px;
  margin-bottom: 10px;
  height: auto;
  width: auto;
  color: var(--navy);
}

.heading small {
  font-size: 50%;
}

#about-txt,
#skills-txt {
  margin: 10px auto;
  vertical-align: middle;
}

#contact-txt {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.contact-foot {
  text-decoration-line: none;
  color: var(--navy);
  padding: 3px 5px;
  border: 5px;
  margin-bottom: 40px;
  border-bottom-style: solid;
  border-color: var(--navy);

  font-size: 150%;
}

footer p {
  text-align: right;
  padding-right: 20px;
}